<app-sidebar>

  <div class="container-fluid">


    <div class="content-wrapper">

      <!-- Row start -->
      <div class="row gutters">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

          <div class="card m-0">

            <!-- Row start -->
            <div class="row no-gutters">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                <div class="users-container">
                  <div class="chat-search-box">
                    <div class="input-group">
                      <input class="form-control" placeholder="Search">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-info">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <ul class="users">
                    <div *ngFor="let user of users">
                      <li class="person" data-chat="person1" *ngIf="user.id !== currentUser.id" (click)="changeRecipient(user)">
                        <div class="user">
                          <img src="{{user.profileImage}}" alt="Retail Admin">
                          <span class="status busy"></span>
                        </div>
                        <p class="name-time">
                          <span class="name">{{user.username}}</span>
                          <span class="time"> {{user.lastLoginDate}}</span>
                        </p>
                      </li>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                <div class="selected-user">
                  <span>To: <span class="name">{{recipient.username}}</span></span>
                </div>
                <div class="chat-container">
                  <ul class="chat-box chatContainerScroll">
                    <div *ngFor="let chatMessage of chatMessages">
                      <li [ngClass]="{'chat-right': currentUser.id === chatMessage.senderId, 'chat-left': currentUser.id === chatMessage.recipientId}">
                        <div class="chat-avatar">
                          <img src="{{currentUser.id === chatMessage.senderId ? currentUser.profileImage : recipient.profileImage}}">
                          <div class="chat-name">{{recipient.username}}</div>
                        </div>
                        <div class="chat-text">{{chatMessage.content}}</div>
                        <div class="chat-hour">08:55 <span class="fa fa-check-circle"></span></div>
                      </li>
                    </div>
                  </ul>
                  <div class="flex-grow-0 py-3 px-4 border-top">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Type your message" [(ngModel)]="chatMessageToSend.content">
                      <button class="btn btn-primary" (click)="sendMessage()">Send</button>
                    </div>
                  </div>
                </div>
              </div>

<!--              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9" *ngIf="chatMessages.length <= 0">-->
<!--                <div class="selected-user">-->
<!--                  <span>Select chat</span>-->
<!--                </div>-->
<!--              </div>-->


            </div>
            <!-- Row end -->
          </div>

        </div>

      </div>
      <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

  </div>

























</app-sidebar>

