<app-sidebar>
  <div id="chat-settings">
    <form>
    <fieldset>
      <legend>Chat settings</legend>
      <div class="form-group">
        <fieldset class="form-group">
          <div class="form-check">
            <input name="active" type="checkbox" class="form-check-input" [(ngModel)] = userSettings.enableChatNotificationSound>
            <label class="form-check-label">Enable chat notification sound</label>
          </div>
        </fieldset>
      </div>
      <button class="btn btn-success" (click)="saveSettings()">Save</button>
    </fieldset>
    </form>
  </div>
  <div id="reset-password">
    <form #resetPasswordForm="ngForm" >
      <fieldset>
        <legend>User Password Management</legend>
        <div class="form-group">
          <label >Email address</label>
          <input type="email" name="resetPasswordEmail" required ngModel class="form-control"
                 placeholder="Enter email (example@email.com)">
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary">
          <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
          <span *ngIf="refreshing">Loading...</span>
          <span *ngIf="!refreshing" (click)="resetPassword(resetPasswordForm, resetPasswordForm.value.resetPasswordEmail)">Reset Password</span>
        </button>
      </fieldset>
    </form>
  </div>
</app-sidebar>
